.contenedor-pagina {
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  color: #ffffff; }

.contenedor-central {
  width: 90%;
  margin: 0 auto;
  text-align: center; }

.header-uno {
  width: 100%;
  /*height: 560px;
  background-image: url("../img/degradado-sombra-grande.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  color: #ffffff; }

.contenedor-central {
  width: 90%;
  margin: 0 auto; }

.header-uno {
  width: 100%;
  /*height: 560px;
  background-image: url("../img/degradado-sombra-grande.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/ }
  .header-uno img {
    width: 100%; }

@media (max-width: 768px) {
  .navbar #bs-example-navbar-collapse-1 > ul > li > a {
    color: #424242;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    background-color: #5C5C5C;
    /*opacity: 0.4;*/ } }

.navbar {
  width: 100%;
  height: 55px;
  background-color: #424242;
  margin-bottom: 10px;
  background-image: none; }
  .navbar #bs-example-navbar-collapse-1 > ul > li > a {
    color: #ffffff; }
  .navbar #bs-example-navbar-collapse-1 > ul > li > a:hover {
    color: #FC6F5C;
    cursor: pointer; }
  .navbar .navbar-brand {
    color: #ffffff;
    font-family: 'Playball', cursive;
    font-size: 35px; }

.navbar-default .navbar-brand:hover {
  color: #ffffff; }

/*.my-resume{
float:left;
color:$color-de-fuente-general;
font-size: 20px;
font-family: 'Playball', cursive;'Kaushan Script', cursive;
}*/
.navbar {
  width: 100%;
  background-color: #424242;
  margin-bottom: 10px;
  background-image: none; }

.my-resume {
  float: left;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Kaushan Script', cursive; }

.float {
  float: right; }

.titulo-cartel {
  margin: 0 auto;
  background-color: #FC6F5C;
  width: 95%;
  height: 80px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 20px;
  margin-bottom: 10px; }
  @media (max-width: 400px) {
    .titulo-cartel {
      font-size: 35px;
      padding-top: 25px; } }

@media (min-width900px) {
  .sobre-mi {
    margin-top: 70px; } }

.flex-contenedor {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto; }

.sector-imagen {
  padding: 20px;
  width: 40%;
  flex: auto;
  -webkit-box-flex: auto;
  -ms-flex: auto; }
  .sector-imagen img {
    width: 100%;
    border-radius: 200px; }
  @media (min-width: 700px) {
    .sector-imagen {
      flex: 1; } }

.sector-nota {
  padding: 40px 10px 0 10px;
  -webkit-box-flex: auto;
  -ms-flex: auto; }
  @media (min-width: 700px) {
    .sector-nota {
      flex: 1; } }

/*.foto-ailin {
text-align:center;
@media (min-width: 900px){
	display: inline-block;
	}
img{
	width:100%;
	max-width: 455px;
	border-radius: 200px;
	@media (min-width: 900px){
		margin-bottom:30px;
		
	}
}
}*/
.container {
  display: flex; }

.sector-imagen {
  flex: 1; }

.sector-about-me {
  flex: 1; }

.foto-ailin {
  text-align: center; }
  @media (min-width: 900px) {
    .foto-ailin {
      display: inline-block; } }
  .foto-ailin img {
    width: 100%;
    max-width: 455px;
    /*background-image: url("../img/ailin-uno.jpg");
    height: 536px;
    background-repeat: no-repeat;
    background-size: cover;*/
    border-radius: 200px; }
    @media (min-width: 900px) {
      .foto-ailin img {
        margin-bottom: 30px; } }

.about-me {
  margin-top: 30px; }
  @media (min-width: 900px) {
    .about-me {
      width: 42%;
      margin-top: 0px;
      display: inline-block;
      vertical-align: top; } }
  @media (min-width: 1100px) {
    .about-me {
      width: 52%; } }
  @media (min-width: 300px) {
    .about-me {
      margin: 0; } }

@media (max-width: 790px) {
  #titulo-about-me {
    font-size: 40px; } }
@media (max-width: 700px) {
  #titulo-about-me {
    font-size: 55px; } }
@media (max-width: 500px) {
  #titulo-about-me {
    font-size: 45px; } }
@media (max-width: 400px) {
  #titulo-about-me {
    font-size: 35px; } }

.nota-con-margen {
  width: 90%;
  margin: 0 auto; }

.titulo-nota-con-margen {
  background-color: #5C5C5C;
  margin-top: 10px;
  font-size: 30px;
  padding: 10px 10px; }
  @media (min-width: 1300px) {
    .titulo-nota-con-margen {
      padding-top: 20px; } }
  @media (min-width: 1230px) {
    .titulo-nota-con-margen {
      font-size: 22px;
      padding-top: 25px; } }
  @media (min-width: 1100px) {
    .titulo-nota-con-margen {
      font-size: 24px;
      padding-top: 28px; } }
  @media (min-width: 1035px) {
    .titulo-nota-con-margen {
      font-size: 22px;
      padding-top: 30px; } }
  @media (max-width: 865px) {
    .titulo-nota-con-margen {
      font-size: 24px;
      padding-top: 15px; } }
  @media (max-width: 735px) {
    .titulo-nota-con-margen {
      font-size: 20px;
      padding-top: 20px; } }
  @media (max-width: 570px) {
    .titulo-nota-con-margen {
      padding-top: 20px; } }
  @media (max-width: 400px) {
    .titulo-nota-con-margen {
      font-size: 20px;
      padding-top: 10px; } }

.datos-personales {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  padding: 20px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
  color: #424242;
  margin: 0 10px; }
  @media (max-width: 699px) {
    .datos-personales .segundo-parrafo {
      display: none; } }

.skills span {
  font-size: 30px;
  color: #ffffff; }

.habilidades {
  width: 49%;
  height: 100px;
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 10px;
  border-radius: 10px; }
  @media (min-width: 500px) and (max-width: 800px) {
    .habilidades {
      font-size: 20px;
      padding-top: 30px; } }
  @media (min-width: 850px) {
    .habilidades {
      width: 30%; } }

.gris-claro {
  background-color: #5C5C5C; }

.gris-oscuro {
  background-color: #424242; }

.contacto {
  text-align: center;
  margin-top: 30px; }
  .contacto span {
    font-size: 50px;
    color: #5C5C5C;
    margin-left: 10px;
    text-align: center; }
  .contacto span:hover {
    color: #FC6F5C; }
  .contacto div {
    display: inline; }
  .contacto p {
    font-size: 20px;
    color: #5C5C5C;
    text-align: center; }

.contacto:last-child {
  margin-top: 20px;
  margin-bottom: 30px; }

.contenedor-contacto {
  margin-bottom: 40px; }

#bootstrap {
  width: 30px;
  margin: -2px; }

#illustrator {
  width: 55px;
  margin: -15px; }

#photoshop {
  width: 30px;
  margin: -2px; }

#mediaquery {
  width: 50px;
  margin-top: -24px; }

#jquery {
  width: 30px;
  margin: -11px; }

.portfolio {
  margin-bottom: 20px; }

#galeria-portfolio img {
  width: 45%;
  height: 250px;
  cursor: pointer;
  border: 4px double #424242;
  border-radius: 10px;
  background-color: #5C5C5C; }
  @media (max-width: 900px) {
    #galeria-portfolio img {
      width: 40%;
      height: 200px; } }
  @media (max-width: 800px) {
    #galeria-portfolio img {
      width: 100%;
      height: 300px; } }
  @media (max-width: 299px) {
    #galeria-portfolio img {
      width: 100%;
      height: 150px; } }
  @media (max-width: 400px) {
    #galeria-portfolio img {
      width: 100%;
      height: 150px; } }

/*# sourceMappingURL=style.css.map */
