$color-de-navbar:#424242;
$color-de-fuente-general:#ffffff;
$color-de-titulos:#FC6F5C;
$color-segundo-navbar-convinacion:#5C5C5C;
$ancho-imagen:455px;
<<<<<<< HEAD

=======
>>>>>>> 7d90fa1866fa10acdc8a27e9b5e777de9de3fc4e
